<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registo.css">
    <title>Registo | Poorify</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="title">
                <h1 id="#">Poorify</h1>
            </div>
            <nav>
                <ul>
                    <li class="secnav">MENU PRINCIPAL</li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="registro.html" target="_self">Registar</a></li>
                    <li class="secnav">INTERVENIENTES</li>
                    <li><a href="#">Artistas</a></li>
                    <li><a href="#">Produção</a></li>
                    <li class="secnav">ACÇÕES</li>
                    <li><a href="#">Exportar</a></li>
                    <li><a href="#">Administração</a></li>
                    <li><a href="#">Utilizador</a></li>
                    <li><a href="#">Logs</a></li>
                </ul>
            </nav>
        </aside>
        <header>
            <p>Sistema de Gerenciamento de Discos</p>
            <div class="descricao">
                <h2>Evgueni Nenane</h2>
                <img src="../resources/user.png" alt="Foto de perfil">
            </div>
        </header>
        <main>
        </main>
    </div>
</body>
</html>